http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=50&offset=0&datasetKey=f934f8e2-32ca-46a7-b2f8-b032a4740454&geometry=POLYGON%28%28-124.07%2041.48%2C-119.99%2041.48%2C-119.99%2035.57%2C-124.07%2035.57%2C-124.07%2041.48%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.4.91 rOpenSci(rgbif/3.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":50,"endOfRecords":false,"count":27015,"results":[{"key":2569346572,"datasetKey":"f934f8e2-32ca-46a7-b2f8-b032a4740454","publishingOrgKey":"66522820-055c-11d8-b84e-b8a03c50a862","installationKey":"a43950ae-eb88-4ef4-bfff-43bcf12885ad","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2020-07-29T17:19:45.627+0000","lastParsed":"2020-07-29T17:25:28.198+0000","crawlId":327,"extensions":{},"basisOfRecord":"PRESERVED_SPECIMEN","taxonKey":8100406,"kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1369,"familyKey":7708,"genusKey":2718273,"speciesKey":2718307,"acceptedTaxonKey":8100406,"scientificName":"Bolboschoenus
        maritimus subsp. paludosus (A.Nelson) T.Koyama","acceptedScientificName":"Bolboschoenus
        maritimus subsp. paludosus (A.Nelson) T.Koyama","kingdom":"Plantae","phylum":"Tracheophyta","order":"Poales","family":"Cyperaceae","genus":"Bolboschoenus","species":"Bolboschoenus
        maritimus","genericName":"Bolboschoenus","specificEpithet":"maritimus","infraspecificEpithet":"paludosus","taxonRank":"SUBSPECIES","taxonomicStatus":"ACCEPTED","decimalLongitude":-122.217952,"decimalLatitude":37.410984,"elevation":74.0,"continent":"NORTH_AMERICA","stateProvince":"California","year":2020,"month":1,"eventDate":"2020-01-01T00:00:00","issues":[],"modified":"2020-02-06T09:47:40.000+0000","lastInterpreted":"2020-07-29T17:25:28.198+0000","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","identifiers":[],"media":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Liliopsida","countryCode":"US","recordedByIDs":[],"identifiedByIDs":[],"country":"United
        States of America","recordNumber":"2646","identifier":"urn:catalog:CAS:BOT-BC:646495","habitat":"Wet
        marsh, with Cyperus eragrostis, Phalaris aquatica, Cortaderia selloana, Phragmites
        australis","higherGeography":"North America; United States; California; San
        Mateo County","nomenclaturalCode":"ICBN","verbatimEventDate":"1/7/2020","locality":"Jasper
        Ridge Biological Preserve; NE border of Preserve at former Boething Tree Nursery
        site","county":"San Mateo County","collectionCode":"BOT-BC","language":"en","gbifID":"2569346572","occurrenceID":"urn:catalog:CAS:BOT-BC:646495","type":"PhysicalObject","catalogNumber":"646495","recordedBy":"Rawlings,
        John; Cummings, Alice","otherCatalogNumbers":"CAS 1294386","institutionCode":"CAS","occurrenceRemarks":"100s
        of plants in dense patches; inflorescences partially intact with ripe 2-sided
        fruit; perianth bristles loosely attached","verbatimElevation":"74 m","verbatimTaxonRank":"subspecies","higherClassification":"Plantae;
        Magnoliophyta; Liliopsida; Poales; Cyperaceae"},{"key":2569346597,"datasetKey":"f934f8e2-32ca-46a7-b2f8-b032a4740454","publishingOrgKey":"66522820-055c-11d8-b84e-b8a03c50a862","installationKey":"a43950ae-eb88-4ef4-bfff-43bcf12885ad","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2020-07-29T17:19:45.627+0000","lastParsed":"2020-07-29T17:25:29.194+0000","crawlId":327,"extensions":{},"basisOfRecord":"PRESERVED_SPECIMEN","taxonKey":8351723,"kingdomKey":6,"phylumKe[...]
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearchAdvanced&authorname=allshouse%2C%20doug&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[]}'
  recorded_at: 2020-07-31 23:07:39 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearchAdvanced&authorname=bartosh%2C%20heath&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[]}'
  recorded_at: 2020-07-31 23:07:39 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearchAdvanced&authorname=castro%2C%20b.&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[{"BHLType":"Part","FoundIn":"Metadata","ExternalUrl":"http://www.scielo.br/scielo.php?script=sci_arttext\u0026pid=S1413-77391999000100008","Authors":[{"Name":"Castro,Clovis
        B."},{"Name":"Pires,Débora O."}],"PartUrl":"https://www.biodiversitylibrary.org/part/107990","PartID":"107990","Genre":"Article","Title":"A
        bleaching event on a Brazilian coral reef","ContainerTitle":"Revista Brasileira
        de Oceanografia"},{"BHLType":"Part","FoundIn":"Metadata","Volume":"57","Authors":[{"Name":"Cutrera,
        R A"},{"Name":"Carreno, N B"},{"Name":"Castro-Vazquez, A"}],"PartUrl":"https://www.biodiversitylibrary.org/part/192035","PartID":"192035","Genre":"Article","Title":"Correlative
        genital tract morphology and plasma progesterone levels during the ovarian
        cycle in Corn mice ( Calomys musculin us)","ContainerTitle":"Zeitschrift für
        Säugetierkunde : im Auftrage der Deutschen Gesellschaft für Säugetierkunde
        e.V.","Date":"1992","PageRange":"14--22"},{"BHLType":"Part","FoundIn":"Metadata","ExternalUrl":"http://www.scielo.br/scielo.php?script=sci_arttext\u0026pid=S1519-69842005000200003","Authors":[{"Name":"Barreto-Medeiros,J.
        M."},{"Name":"Feitoza,E. G."},{"Name":"Magalhães,K."},{"Name":"da Silva,R.
        R."},{"Name":"Manhães-de-Castro,F. M."},{"Name":"Manhães-de-Castro,R."},{"Name":"De-Castro,C.
        M. M. B."}],"PartUrl":"https://www.biodiversitylibrary.org/part/120862","PartID":"120862","Genre":"Article","Title":"T[...]
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearchAdvanced&authorname=cummings%2C%20alice&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[{"BHLType":"Item","FoundIn":"Metadata","ItemID":"258600","TitleID":"154043","Volume":"Senders
        Ch-Cu (1886-1918)","ItemUrl":"https://www.biodiversitylibrary.org/item/258600","TitleUrl":"https://www.biodiversitylibrary.org/bibliography/154043","MaterialType":"Mixed
        materials","PublicationDate":"1886","Authors":[{"Name":"Collins, J. Franklin
        (James Franklin)"},{"Name":"Chandler, Eva,"},{"Name":"Cheney, Robert F.,"},{"Name":"Cherrington,
        Mary Edna,"},{"Name":"Chesnut, V. K. (Victor King),"},{"Name":"Churchill,
        Joseph Richmond,"},{"Name":"Clapp, Ida D.,"},{"Name":"Clapp, Marguerite S.,"},{"Name":"Clark,
        Mary A.,"},{"Name":"Clarke, Cora H. (Cora Huidekoper),"},{"Name":"Clements,
        Jennie H.,"},{"Name":"Clute, Willard Nelson,"},{"Name":"Collins, Frank [...]
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearchAdvanced&authorname=hickman%2C%20ken&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[]}'
  recorded_at: 2020-07-31 23:07:39 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearchAdvanced&authorname=janeway%2C%20l.%20p.&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    [...]
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearchAdvanced&authorname=lo%2C%20belinda&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[]}'
  recorded_at: 2020-07-31 23:07:39 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearchAdvanced&authorname=mills%2C%20amanda&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[]}'
  recorded_at: 2020-07-31 23:07:39 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearchAdvanced&authorname=naumovich%2C%20lech&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[]}'
  recorded_at: 2020-07-31 23:07:39 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearchAdvanced&authorname=randolph-lowe%2C%20alex&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[]}'
  recorded_at: 2020-07-31 23:07:39 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearchAdvanced&authorname=rawlings%2C%20john&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[]}'
  recorded_at: 2020-07-31 23:07:39 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearchAdvanced&authorname=silvas-young%2C%20vicki&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[]}'
  recorded_at: 2020-07-31 23:07:39 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearchAdvanced&authorname=timby%2C%20sara&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[]}'
  recorded_at: 2020-07-31 23:07:39 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearchAdvanced&authorname=uhler%2C%20ellen&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[]}'
  recorded_at: 2020-07-31 23:07:39 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearchAdvanced&authorname=wagner%2C%20d.%20h.&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[{"BHLType":"Part","FoundIn":"Metadata","Volume":"2013-10","Authors":[{"Name":"Wagner,
        David H.,"}],"PartUrl":"https://www.biodiversitylibrary.org/part/278846","PartID":"278846","Genre":"Article","Title":"Rivulariella,
        gen. nov. (Jungermanniaceae), endemic to western North America","ContainerTitle":"Phytoneuron","Date":"2013","PageRange":"1--9"},{"BHLType":"Item","FoundIn":"Metadata","ItemID":"217339","TitleID":"124884","Volume":"no.1
        (1979)","ItemUrl":"https://www.biodiversitylibrary.org/item/217339","TitleUrl":"https://www.biodiversitylibrary.org/bibliography/124884","MaterialType":"Published
        material","PublisherPlace":"Washington","PublisherName":"American Fern Society,","PublicationDate":"1979","Authors":[{"Name":"Wagner,
        David H.,"}],"Genre":"Book","Title":"Systematics of Polystichum in western
        North America, north of Mexico"},{"BHLType":"Part","FoundIn":"Metadata","Volume":"5","Authors":[{"Name":"Darrach,
        Mark E"},{"Name":"Wagner, David H.,"}],"PartUrl":"https://www.biodiversitylibrary.org/part/161887","PartID":"161887","Genre":"Article","Title":"LOMATIUM
        PASTORALIS (APIACEAE), A NEW NARROW ENDEMIC SPEC[...]
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=PublicationSearchAdvanced&authorname=yang%2C%20stella&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[]}'
  recorded_at: 2020-07-31 23:07:39 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
