http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/search?limit=10&offset=0&datasetKey=f934f8e2-32ca-46a7-b2f8-b032a4740454&geometry=POLYGON%28%28-124.07%2041.48%2C-119.99%2041.48%2C-119.99%2035.57%2C-124.07%2035.57%2C-124.07%2041.48%29%29
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.4.91 rOpenSci(rgbif/3.2.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":10,"endOfRecords":false,"count":27015,"results":[{"key":2569346572,"datasetKey":"f934f8e2-32ca-46a7-b2f8-b032a4740454","publishingOrgKey":"66522820-055c-11d8-b84e-b8a03c50a862","installationKey":"a43950ae-eb88-4ef4-bfff-43bcf12885ad","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2020-07-29T17:19:45.627+0000","lastParsed":"2020-07-29T17:25:28.198+0000","crawlId":327,"extensions":{},"basisOfRecord":"PRESERVED_SPECIMEN","taxonKey":8100406,"kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1369,"familyKey":7708,"genusKey":2718273,"speciesKey":2718307,"acceptedTaxonKey":8100406,"scientificName":"Bolboschoenus
        maritimus subsp. paludosus (A.Nelson) T.Koyama","acceptedScientificName":"Bolboschoenus
        maritimus subsp. paludosus (A.Nelson) T.Koyama","kingdom":"Plantae","phylum":"Tracheophyta","order":"Poales","family":"Cyperaceae","genus":"Bolboschoenus","species":"Bolboschoenus
        maritimus","genericName":"Bolboschoenus","specificEpithet":"maritimus","infraspecificEpithet":"paludosus","taxonRank":"SUBSPECIES","taxonomicStatus":"ACCEPTED","decimalLongitude":-122.217952,"decimalLatitude":37.410984,"elevation":74.0,"continent":"NORTH_AMERICA","stateProvince":"California","year":2020,"month":1,"eventDate":"2020-01-01T00:00:00","issues":[],"modified":"2020-02-06T09:47:40.000+0000","lastInterpreted":"2020-07-29T17:25:28.198+0000","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","identifiers":[],"media":[],"facts":[],"relations":[],"geodeticDatum":"WGS84","class":"Liliopsida","countryCode":"US","recordedByIDs":[],"identifiedByIDs":[],"country":"United
        States of America","recordNumber":"2646","identifier":"urn:catalog:CAS:BOT-BC:646495","habitat":"Wet
        marsh, with Cyperus eragrostis, Phalaris aquatica, Cortaderia selloana, Phragmites
        australis","higherGeography":"North America; United States; California; San
        Mateo County","nomenclaturalCode":"ICBN","verbatimEventDate":"1/7/2020","locality":"Jasper
        Ridge Biological Preserve; NE border of Preserve at former Boething Tree Nursery
        site","county":"San Mateo County","collectionCode":"BOT-BC","language":"en","gbifID":"2569346572","occurrenceID":"urn:catalog:CAS:BOT-BC:646495","type":"PhysicalObject","catalogNumber":"646495","recordedBy":"Rawlings,
        John; Cummings, Alice","otherCatalogNumbers":"CAS 1294386","institutionCode":"CAS","occurrenceRemarks":"100s
        of plants in dense patches; inflorescences partially intact with ripe 2-sided
        fruit; perianth bristles loosely attached","verbatimElevation":"74 m","verbatimTaxonRank":"subspecies","higherClassification":"Plantae;
        Magnoliophyta; Liliopsida; Poales; Cyperaceae"},{"key":2569346597,"datasetKey":"f934f8e2-32ca-46a7-b2f8-b032a4740454","publishingOrgKey":"66522820-055c-11d8-b84e-b8a03c50a862","installationKey":"a43950ae-eb88-4ef4-bfff-43bcf12885ad","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2020-07-29T17:19:45.627+0000","lastParsed":"2020-07-29T17:25:29.194+0000","crawlId":327,"extensions":{},"basisOfRecord":"PRESERVED_SPECIMEN","taxonKey":8351723,"kingdomKey":6,"phylumKe[...]
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=NameSearch&name=bolboschoenus%20maritimus&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[{"NameConfirmed":"Bolboschoenus
        maritimus"},{"NameConfirmed":"Bolboschoenus maritimus (L.) Palla"},{"NameConfirmed":"Bolboschoenus
        maritimus (L.) Palla s.str."},{"NameConfirmed":"Bolboschoenus maritimus (Linnaeus)
        Palla"},{"NameConfirmed":"Bolboschoenus maritimus subsp. paludosus (A.Nelson)
        T.Koyama"}]}'
  recorded_at: 2020-07-31 23:02:49 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=GetNameMetadata&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&name=Bolboschoenus%20maritimus&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[{"Identifiers":[{"IdentifierName":"EOL","IdentifierValue":"1125962"},{"IdentifierName":"GNI","IdentifierValue":"ac1e0c3c-1b6e-5dd3-93db-593838f8ef7f"},{"IdentifierName":"NameBank","IdentifierValue":"2776096"}],"NameConfirmed":"Bolboschoenus
        maritimus","NameCanonical":"Bolboschoenus maritimus","CreationDate":"2007/08/23
        12:26:43","Titles":[{"TitleID":114584,"ShortTitle":"Acta Botánica Mexicana","CallNumber":"","PublisherPlace":"México
        :","PublisherName":"Instituto de Ecología, A C.,","PublicationDate":"1988-","TitleUrl":"https://www.biodiversitylibrary.org/title/114584","Items":[{"ItemID":199469,"Source":"Internet
        Archive","SourceIdentifier":"ActaBotanicaMex82Inst","Volume":"no.82 (2008)","HoldingInstitution":"Instituto
        de Ecología A.C.","ItemUrl":"https://www.biodiversitylibrary.org/item/199469","Pages":[{"PageID":49945644,"ItemID":199469,"Volume":"82","Year":"2008","TextSource":"OCR","PageUrl":"https://www.biodiversitylibrary.org/page/49945644","ThumbnailUrl":"https://www.biodiversitylibrary.org/pagethumb/49945644","FullSizeImageUrl":"https://www.biodiversitylibrary.org/pageimage/49945644","OcrUrl":"https://www.biodiversitylibrary.org/pagetext/49945644","PageTypes":[{"PageTypeName":"Text"}],"PageNumbers":[{"Prefix":"Page","Number":"19"}]},{"PageID":49945645,"ItemID":199469,"Volume":"82","Year":"2008","TextSource":"OCR","PageUrl":"https://www.biodiversitylibrary.org/page/49945645","ThumbnailUrl":"https://www.biodiversitylibrary.org/pagethumb/49945645","FullSizeImageUrl":"https://www.biodiversitylibrary.org/pageimage/49945645","OcrUrl":"https://www.biodiversitylibrary.org/pagetext/49945645","PageTypes":[{"PageTypeName":"Text"}],"PageNumbers":[{"Prefix":"Page","Number":"20"}]}]},{"ItemID":200705,"Source":"Internet
        Ar[...]
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=NameSearch&name=dryopteris%20expansa&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      encoding: UTF-8
      file: no
      string: '{"Status":"ok","ErrorMessage":"","Result":[{"NameConfirmed":"Dryopteris
        expansa"},{"NameConfirmed":"Dryopteris expansa (C. Presl) Fraser-Jenk. \u0026
        Jermy"},{"NameConfirmed":"Dryopteris expansa (K. Presl) Fraser-Jenkins \u0026
        Jermy"},{"NameConfirmed":"Dryopteris expansa var. willeana"}]}'
  recorded_at: 2020-07-31 23:02:49 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://www.biodiversitylibrary.org/api3?op=GetNameMetadata&apikey=8f7e89db-2ec3-4408-a160-c3dc416b118d&name=Dryopteris%20expansa&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-server-name: BHL1
    body:
      enco[...]
